html {
    font-family: Verdana, Arial, sans-serif;
    background-color: rgb(238 232 213);
    color: rgb(101 123 131)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(88 110 117);
    margin-top: 0;
    margin-bottom: 0;
}

.background {
    background-color: rgb(253 246 227);
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 16px 1px 16px;
    border-radius: 30px;
}

.indexList {
    list-style: none;
    padding: 8px 16px;
}

a {
    color: rgb(38 139 210);
    background-color: rgb(238 232 213);
    display: block;
    margin: 16px 0px;
    padding: 8px 16px;
    text-align: center;
    border: 2px rgb(147 161 161) solid;
    border-radius: 30px ;
    text-decoration: none;
}

a:visited {
    color: rgb(108 113 196);
}

a:hover {
    color: rgb(42 161 152);
    border-color: rgb(131 148 150);
}

.links,
.content {
    margin: auto;
    width: 90%;
}

.links {

}

h1,
h2,
h3,
h4,
h5,
h6,
.centered {
    text-align: center;
}

img {
    height: 340px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: rgb(7 54 66);
        color: rgb(131 148 150)
    }

    .background {
        background-color: rgb(0 43 54);
    }

    a {
        background-color: rgb(7 54 66);
        border-color: rgb(88 110 117);
    }

    a:hover{
        border-color: rgb(101 123 131);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: rgb(147 161 161)
    }
}